<canvas
id="viewport"
width="100%"
height="100%"
style="
display: block;
position: absolute;
height: 100% !important; 
width: 100% !important;
background: transparent;
">
</canvas>



<!-- <web-photo-filter
style="
background: transparent;
height:100%;
width: 100%;"
[class.only-original]="!selectedFilter"
[class.no-original]="selectedFilter"
[src]="image"
[filter]="selectedFilter"
[level]="level" 
keep="true" 
(filterLoad)="imageLoaded($event)">
</web-photo-filter> -->





<ion-content
*ngIf="!snapped"
fullscreen="true"
>




  <ion-toolbar
  color="none"
  >

    <ion-buttons
    slot="start"
    >
      <ion-button
      fill="clear">

        <ion-icon
        size="large"
        color="light"
        name="ios-settings">
        </ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-buttons
    slot="end"
    >
      <ion-button
      fill="clear">

        <ion-icon
        size="large"
        color="light"
        name="md-arrow-forward">
        </ion-icon>
        
      </ion-button>
    </ion-buttons>

  </ion-toolbar>




  <ion-row
  align-items-center
  justify-content-center
  style="
  position: absolute;
  bottom: 0;
  width: 100%;
  ">
    
    <ion-button
    fill="clear"
    style="
    border-radius: 50%;
    ">   
      <ion-icon
      size="large"
      color="light"
      name="ios-filing">
      </ion-icon>
    </ion-button>



    <ion-button
    (click)="flash()"
    fill="clear"
    style="
    border-radius: 50%;
    ">   
      <ion-icon
      size="large"
      color="light"
      name="ios-flash"
      >
      </ion-icon>
    </ion-button>
  


    <ion-fab-button
    (click)="snap()"
    margin-horizontal
    size="large"
    mode="ios"
    color="light"
    style="
    border: solid 10px #e4e4e4aa;
    border-radius: 50%;
    ">   
    </ion-fab-button>


    
    <ion-button
    (click)="switch()"
    fill="clear"
    style="
    border-radius: 50%;
    ">   
      <ion-icon
      size="large"
      color="light"
      name="ios-sync"
      >
      </ion-icon>
    </ion-button>



    <ion-button
    (click)="filtering = true;"
    fill="clear"
    style="
    border-radius: 50%;
    ">   
      <ion-icon
      size="large"
      color="light"
      name="md-color-palette">
      </ion-icon>
    </ion-button>
    




    <ion-toolbar
    text-center
    color="none"
    >
      <ion-button
      fill="clear"
      mode="md"
      >
        <ion-text
        color="light"
        >
          Normal
        </ion-text>
      </ion-button>
    </ion-toolbar>



    

    <ion-toolbar
    *ngIf="filtering"
    color="none"
    style="
    background: #ffffff25;
    ">
      <ion-button  
      *ngFor="let camFilter of [
      { name: '', effect: 'NONE' },
      { name: '', effect: 'AQUA' },
      { name: '', effect: 'BLACKBOARD' },
      { name: '', effect: 'MONO' },
      { name: '', effect: 'NEGATIVE' },
      { name: '', effect: 'POSTERIZE' },
      { name: '', effect: 'SEPIA' },
      { name: '', effect: 'SOLARIZE' },
      { name: '', effect: 'WHITEBOARD' }
      ]"
      (click)="setEffect(camFilter?.effect)"
      >
        {{ camFilter?.effect }}
      </ion-button>
    </ion-toolbar>

  </ion-row>




</ion-content>










<ion-content
*ngIf="snapped"
>




<ion-toolbar
color="none"
>

  <ion-buttons
  slot="start"
  >
    <ion-button
    (click)="hideEmojiPicker(); unsnap()"
    fill="clear"
    >

      <ion-icon
      size="large"
      color="light"
      name="close"
      >
      </ion-icon>

    </ion-button>
  </ion-buttons>

  <ion-buttons
  slot="end"
  >
    <ion-button
    (click)="showEmojiPicker()"
    fill="clear">

      <ion-icon
      size="large"
      color="light"
      name="md-happy">
      </ion-icon>
      
    </ion-button>
  </ion-buttons>

</ion-toolbar>









<ion-row
margin
padding
*ngIf="pickingEmojis"
>
  😀 😁 😂 🤣 😃 😄 😅 😆 😉 😊 😋 😎 😍 😘 😗 😙 😚 🙂 🤗 🤩 🤔 🤨 😐 😑 😶 🙄 😏 😣 😥 😮 🤐 😯 😪 😫 😴 😌 😛 😜 😝 🤤 😒 😓 😔 😕 🙃 🤑 😲 ☹️ 🙁 😖 😞 😟 😤 😢 😭 😦 😧 😨 😩 🤯 😬 😰 😱 😳 🤪 😵 😡 😠 🤬 😷 🤒 🤕 🤢 🤮 🤧 😇 🤠 🤡 🤥 🤫 🤭 🧐 🤓 😈 👿 👹 👺 💀 👻 👽 🤖 💩 😺 😸 😹 😻 😼 😽 🙀 😿 😾
</ion-row>

</ion-content>