<ion-header
no-border
color="none"
>
  <ion-toolbar
  color="none"
  >
  </ion-toolbar>
</ion-header>

<ion-content
fullscreen="true"
color="dark"
>
</ion-content>

<ion-footer
color="none"
no-border
>
  <ion-toolbar
  padding
  color="none"
  >
  </ion-toolbar>

  <ion-fab
  vertical="center"
  horizontal="center" 
  slot="fixed"
  >
    <ion-fab-button
    mode="ios"
    color="light"
    style="
    border: solid 5px #e4e4e4;
    border-radius: 50%;
    ">   
    </ion-fab-button>
  </ion-fab>
</ion-footer>